<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/assets/styles/styles.css" />
    <script src="https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>
    <title>TeamAlfy Version Controller</title>
  </head>
  <body>
    <div class="row page">
      <div class="col-lg-5 page-intro">
        <img src="/assets/img/teamalfy.jpg" alt="Version Control" />
        <h3>TeamAlfy Version Control</h3>
        <h5>#Tuaneka</h5>
      </div>
      <div class="col-lg-7 page-form">
        <h2>What Changes Do You have Today</h2>
        <div style="display: none;" id="error" class="alert alert-danger"></div>
        <form id="update-form">
          <div class="input-group">
            <label for="">Project</label>
            <select
              onchange="handleSelectionChange(this)"
              name=""
              id="developers"
            >
              <option value="">Choose your project</option>
            </select>
          </div>
          <div class="input-group">
            <label for="">Updates</label>
            <textarea
              name="editor"
              name=""
              id="updates"
              cols="30"
              rows="10"
            ></textarea>
          </div>
          <div class="input-group">
            <label for="">Version No</label>
            <input id="version" placeholder="version No" type="number" />
            <input id="submit" type="submit" value="Submit" />
          </div>
        </form>
      </div>
    </div>
    <footer class="footer">
      <div class="row">
        <div class="col-lg-6">
          <h4>
            Powered By <span><a href="https://teamalfy.com">TeamAlfy</a></span>
          </h4>
        </div>
        <div class="col-lg-6">
          <h4 id="listener">#Version Control</h4>
        </div>
      </div>
    </footer>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/assets/js/index.js"></script>
  </body>
</html>
