<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap"
      rel="stylesheet"
    />
    <title>Powered By Tuaneka</title>
    <style>
      body {
        background: #2c3e50;
        font-family: "Oswald", sans-serif;
      }
      .row {
        height: 85vh;
      }
      .header-text {
        text-align: center;
        margin-top: 40px;
        margin-bottom: 30px;
        color: white;
        font-weight: 300;
      }
      .sub-header {
        text-align: center;
        color: white;
        margin-bottom: 30px;
        font-weight: 300;
      }
      .updates {
        display: block;
        margin-left: 10%;
        margin-right: 10%;
        width: 70%;
        line-height: 30px;
        letter-spacing: 1px;
        word-spacing: 2px;
        text-align: justify;
        color: white;
        border: 5px solid #2c3e50;
        background-color: #34495e;
        border-radius: 10px;
        padding: 5% 5%;
      }
      .page-footer {
        width: 100%;
        background: #34495e;
        height: 100px;
      }
      .footer-content {
        text-align: center;
        color: white;
      }
    </style>
  </head>
  <body>
    <div class="row">
      <h1 class="header-text">Tuaneka Version Updates</h1>
      <h3 class="sub-header">Features Include</h3>
      <div>
        <p class="updates">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus fuga,
          beatae inventore, nemo qui dicta voluptas exercitationem praesentium
          recusandae iure rerum nesciunt adipisci nam a. Inventore alias
          accusamus, sint nemo, maxime ipsam unde voluptatum amet autem
          excepturi dolorem officia sit omnis praesentium. Temporibus eos,
          eveniet nemo iste libero dolores nulla ratione modi? Sapiente atque,
        </p>
      </div>
    </div>
    <footer class="page-footer">
      <div class="footer-content">
        <h3>
          Powered By <span><a href="https://tuaneka.com"> Tuaneka</a></span>
        </h3>
      </div>
    </footer>
  </body>
</html>
