<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/assets/styles/inex.css" />

    <title>TeamAlfy Version Controller</title>
  </head>
  <body>
    <div class="row">
      <div class="logo-area col-lg-6">
        <div class="inner">
          <img src="/assets/img/teamalfy.jpg" alt="TeamAlfy Logo" />
          <h3>Crazy About Great Designs</h3>
        </div>
      </div>
      <div class="form-area col-lg-6">
        <div class="inner-form">
          <h2>Join The Wonders Makers</h2>
          <form id="register-form">
            <div
              style="display: none;"
              id="error"
              class="alert alert-danger"
            ></div>
            <div class="form-component">
              <label for="">User Name</label>
              <input id="name" type="text" placeholder="User Name..." />
            </div>
            <div class="form-component">
              <label for="">Email</label>
              <input id="email" type="email" placeholder="Email..." />
            </div>
            <div class="form-component">
              <label for="">Password</label>
              <input id="password" type="password" placeholder="Password..." />
            </div>
            <input
              id="submit-button"
              class="submit"
              type="submit"
              value="Register"
            />
            <span>Already have Account?<a href="/">Login</a></span>
          </form>
        </div>
      </div>
    </div>
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
    <script src="/assets/js/register.js"></script>
  </body>
</html>
