<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap"
      rel="stylesheet"
    />
    <title>Powered By Tuaneka</title>
    <style>
      body {
      }
      .row {
        height: 100vh;
        background: #2c3e50;
        font-family: "Oswald", sans-serif;
      }
      .row1 {
        min-height: 85vh;
      }
      .header-text {
        text-align: center;
        margin-top: 70px;
        margin-bottom: 30px;
        color: white;
        font-weight: 300;
      }
      .sub-header {
        text-align: center;
        color: white;
        margin-bottom: 30px;
        font-weight: 300;
      }
      .updates {
        display: block;
        margin-left: 10%;
        margin-right: 10%;
        width: 70%;
        line-height: 30px;
        letter-spacing: 1px;
        word-spacing: 2px;
        text-align: justify;
        color: white;
        border: 5px solid #2c3e50;
        background-color: #34495e;
        border-radius: 10px;
        padding: 5% 5%;
      }
      .page-footer {
        width: 100%;
        background: #34495e;
        height: 100px;
      }
      .footer-content {
        text-align: center;
        color: white;
      }
      #out {
        margin-bottom: 20px;
      }
      #out p {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="row">
      <div class="row1">
        <!-- <h1 class="header-text">Hey <%=project%>'ers</h1> -->
        <h3 class="sub-header">
          We have updated the platform to <%=version%>, here are the exciting
          new features
        </h3>
        <div>
          <div id="out" class="updates">
            <%-updates %>
            <p>
              We love it when you provide feedback . Email us at
              hello@tuaneka.com
            </p>
          </div>
        </div>
      </div>
      <footer class="page-footer">
        <div class="footer-content">
          <h3>
            Powered By <span><a href="https://teamalfy.com"> TeamAlfy</a></span>
          </h3>
        </div>
      </footer>
    </div>
  </body>
</html>
