* {
  font-family: "Poppins", sans-serif;
}
.row {
  width: 100%;
  min-height: 100vh;
  color: white;
}

.first {
  background: #660066;
}

.second {
  background: #020202cc;
}
.side-content {
  margin: 5% 7%;
}
.side-content h1 {
  text-align: center;
  font-weight: 400;
  font-size: 34px;
  text-transform: capitalize;
  margin-bottom: 30px;
  margin-top: 70px;
}
.updates {
  text-align: center;
  margin-top: 30%;
  margin-bottom: 4%;
}
.updates span svg {
  color: white;
  font-size: 35;
  margin-right: 10px;
  font-weight: 400;
}
.profile {
  text-align: center;
  margin-top: 30%;
  margin-right: auto;
  margin-left: auto;
}
.profile img {
  width: 50px;
  height: 50px;
  display: inline-block;
  float: left;
  border-radius: 50%;
  margin-left: 9%;
  line-height: 50px;
}
.profile p {
  display: inline-block;
  margin-left: -18%;
  font-size: 20px;
  text-align: left;
  line-height: 50px;
}
.project {
  margin-top: 15%;
  text-align: center;
}
.project h3 {
  font-weight: 200;
  text-transform: capitalize;
}
.main-content {
  margin: 5% 3%;
}

.main-content h1 {
  text-align: left;
  font-weight: 400;
  font-size: 22px;
  text-transform: capitalize;
}

.input-area {
  width: 100%;
  margin-top: 16%;
}
.break-even {
  width: 50%;
  float: left;
}
.break-even::after {
  content: " ";
  clear: both;
}
.first-content {
  width: 80%;
  margin-right: 12%;
}
.second-content {
  width: 80%;
  margin-left: 12%;
}
.second-content label {
  font-size: 22px;
  font-weight: 200;
  letter-spacing: 1px;
}
.second-content select {
  display: block;
  width: 70%;
  height: 50px;
  background: #020202;
  color: white;
  border-radius: 8px;
  padding-left: 8%;
  border: none;
}
.first-content label textarea {
  display: block;
  margin-bottom: 10%;
}

.first-content label {
  font-size: 22px;
  font-weight: 200;
  text-transform: capitalize;
  /* width: 25%; */
  letter-spacing: 1px;
  word-spacing: 2px;
}

.first-content textarea {
  width: 70%;
  height: 100px;
}

.buttons {
  margin-top: 70%;
  margin-left: 8%;
}
.buttons button {
  display: inline-block;
  width: 150px;
  height: 50px;
}

.cancel {
  background: #020202cc;
  border: 2px solid #660066;
  border-radius: 8px;
  color: white;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 200;
}

.update {
  background: #660066;
  color: white;
  border-radius: 8px;
  text-transform: capitalize;
  font-weight: 200;
  border: none;
}
